body{
	width: 700px;
	margin: 50px auto;
	height: 100%;
}


div.body{
    background-color: rgba(129, 129, 35, 0.08);
    border: 1px solid yellow; 
}

div.menu a{
    display: inline;
	font-size: x-large;
	margin: 40px 20px;
	text-decoration: none;
	color: rgba(17, 72, 154, 0.56);
}

div.menu a:hover{
	color: white;
	background-color: rgba(17, 72, 154, 0.56);
}

a.room{
    display: block;
    margin: 10px 50px;
    font-size: x-large;
    text-decoration: none;
    color: rgba(0, 39, 255, 0.8); 
}


input[type="checkbox"]{
    aling: right;
}

input[type="password"],
input[type="submit"],
input[type="text"] {
    height: 36px;
    width: 80%; 
    display: block;
    font-size: 28px;    
    margin: 10px auto;
    border: 1px solid #cccccc; 
    border-radius: 3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    background: #ffffff !important; 
    outline: none; 
}

h1{
    text-align: center;
}

#input_panel{
    position: fixed;
    bottom: 0;
    width: 700px;
    background-color: rgba(193, 228, 192, 1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px; 
    -khtml-border-radius: 8px;
}

#input_panel textarea{
    margin: 5%;
    width: 90%;
    height: 100px;

}
div.message img{
    float: left;
    padding: 0px 5px 0px 0px;
}
div.message{
    overflow: auto;
    padding: 5px;
    margin: 5px;
    border: 1px solid #cccccc; 
}

span.date{
    float: right; 
}




